.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin: auto;
  justify-content: center;
}
.skill_child {
  padding: 12px;
  border-radius: 12px;
  background-color: var(--gray);
  margin: auto;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.grid_img {
  height: 50px;
  width: 80px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.grid_img + p{
  margin-top: 8px;
}
.skill_child:hover {
  background-color: #edf2f800;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 285px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .skill_child {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    margin: auto;
    justify-content: space-around;
  }
}

@media (min-width: 451px) and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 701px) and (max-width: 860px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 861px) and (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 981px) and (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
