/* 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */

.services {
  z-index: -1;
  margin-top: 4rem;
  padding-top: 6rem;
  text-align: center;
  transition-delay: 0.5s;
}
.svg:hover {
  transform: scaleX(1.2);
}
.grid_about {
  width: 1000px;
  margin: auto;
  display: flex;
  gap: 30px;
}
/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about_me {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.me {
  color: var(--crimson);
  font-size: 2.5rem;
  font-weight: bold;
}
.about_article {
  margin-top: 3rem;
  text-align: justify;
  list-style: square;
}

/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .grid_about {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    width: 98%;
  }

  .awesome {
    width: 100%;
    margin: auto;
    padding: 0 3rem 3rem 3rem;
  }
  .svg_svgimg__RuHrx {
    /* margin-left: -200px; */
    margin: auto !important;
  }
  .about_article {
    margin-top: 0;
  }
}

/* @media screen and (min-width: 901px) {
  .grid_about {
    display: grid;
 grid-template-columns: 50% 20%;

    width: 85%;
    justify-content: space-between;
    padding: 0;
  }
  .awesome{
    width: 100%;
    margin: auto;
  }
.svg_svgimg__RuHrx{
margin-left: -200px;
}
} */
