@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.Intro {
  display: flex;

  z-index: -1;
  /* border: 2px solid red; */
  /* padding: 0 3rem 0 3rem; */
  /* padding-left: 7rem; */
  width: 1000px;
  margin: auto;
  margin-top: 4rem;
  padding-top: 5rem;
}

/* left side styling */
.i-left {
  display: flex;
  /* position: relative; */
  flex: 1;
  flex-direction: column;
  gap: 2rem;
 
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  /* font-size: 1.5rem; */
}
.name{
  font-weight: bolder;
  font-size: 3.5rem;

}
.full_stack_h2{
  font-size: 30px;
  margin-top: 0px;
}
.full_stack {
  font-weight: 700;
  color: var(--gray);
  color: #dc143c;
  margin-top: 10px;

}
.i-button {
  width: 6rem;
  height: 2rem;
}
.resum{
  width: 120px !important;
}
.resume{
  background-color: #dc143c;
  width: 120px !important;
  border-radius: 12px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border: 3px solid #dc143c;
  font-size: 20px;
font-weight: 600;
transition: 0.7s;
}
.resume:hover{
  background-color: rgba(255, 255, 255, 0);
  color: #ff1361;
  box-shadow: rgba(255, 0, 0, 0.522) 0px 10px 10px 10px;
}
.i-icons {
  margin-top: -1.6rem;
  margin-left: -1.2rem;
  display: flex;
  gap: 0rem;
}
.i-icons img{
  height: 100px;
}

.i-icons > * {
  transform: scale(0.5);
  transition: transform .5s;
}
.i-icons > *:hover {
  cursor: pointer;
  transform: scale(0.8);
}


.my_img{
  height: 250px;
  width: 250px;
  /* border-radius: 50%; */
  margin-top: -30px;
  margin-left:-5px;
  object-fit: cover;
  transition: all 2s;
  cursor: pointer;
}
.my_img:hover{

  transform: scale(1.1);
}
.i-right{
  background-image: url("../../img/circle.svg");
  display: flex;
  background-repeat: no-repeat;
    -webkit-box-pack: center;
    justify-content: center;
transition:all 1s;
  position: relative;
  width: 250px ;
}

.i-right > * {
  position: absolute;
  /* z-index: -1; */
}
/* .i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -8%;
} */
.i-right:hover{
  transform: scale(0.9);
}
.bottom-floting{
  /* width: 500px;
  height: 200px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



#animation-demo {
	width: 570px;
	height: 380px;
	position: relative;
top: 3%;
left: 1%;
} 

.animated {
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  height: 350px;
  margin-left: 170px;
}

@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        -webkit-filter: blur(90px);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}
@keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        -webkit-filter: blur(90px);
    }
    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}


.animate-charcter
{

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@media screen and (max-width: 540px) {

.Intro{
  width: 100%;
  display: flex;
  justify-content: center;
flex-direction: column-reverse;
background-color: #23155747;

padding-bottom: 4rem;
}
.my_img{
  height: 280px;
  width: 250px;
  margin-top: -40px;
  margin-left:-5px;
}
.i-right{
width: 270px;
  height: 270px;
  margin: auto;

}
.i-left{
display: grid;
margin: auto;
}
.helo{
  font-size: 22px;
}
.i-name{
  margin: auto;
}
.name{
  font-size: 2.5rem;
 
}
.full_stack{
  font-size: 22px;
}
.resum{
  margin: auto;
}
.i-icons{
  margin: auto;
}
}

@media screen and (max-width: 950px) {

  .Intro{
    width: 100%;
    justify-content: center;
  background-color: #23155747;
  padding-bottom: 4rem;
  }
  .my_img{
    height: 280px;
    width: 250px;
    margin-top: -40px;
    margin-left:-5px;
  }
  .i-right{
  width: 270px;
    height: 270px;
    margin: auto;
  }
 
  .i-name{
    margin: auto;
  }

  .resum{
 margin-left: 12%;
  }
  .i-icons{
    margin-left: 10%;
  }
}
/* 
@media screen and (min-width: 955px) {

  .Intro{
    justify-content: center;
  background-color: #23155747;
padding: 5rem 3rem 3rem 3rem;
width: 100%;
  }
  .my_img{
    height: 280px;
    width: 250px;
    margin-top: -40px;
    margin-left:-5px;
  }
  .i-right{
  width: 270px;
    height: 270px;
    margin: auto;
  }
 
  .i-name{
    margin: auto;
  }

  .resum{
 margin-left: 12%;
  }
  .i-icons{
    margin-left: 10%;
  }
} */