@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  /* font-weight: 300; */
}
body {
  margin: 0;
}
